

.backgroundDesign {
    height: 100%;
    width: 100%;
    background-image: url('/home/FoolMonkey007/Study/Version Drive FrontEnd/Version-drive-frontend/dashboard-application/src/logo/logo3.png');
    background-repeat: repeat;
    opacity: 0.8;
    z-index : 0;
}
